.input12{
    height:30px; width: 100%; border: 1px solid #3333ff; font-style: italic;
}

.textarea1{
    width: 100%; border: 1px solid #3333ff; font-style: italic;
}
.table1{
    width: 100%; border: 1px solid #3333ff; font-style: italic;
}